---
import PageLayout from "~/layouts/PageLayout.astro";
---
<PageLayout>
<div class="m-20 max-w-md mx-auto">
    <h2 class="text-xl font-bold mb-4">Update Document Status</h2>
    <form class="grid grid-cols-1 gap-6" action="http://localhost:3001/api/status/" method="POST">
      <div>
        <label class="block mb-1 font-bold" for="id">Document ID:</label>
        <input class="w-full border border-gray-400 py-2 px-3 rounded" type="text" id="id" name="id" required>
      </div>
      <div>
        <label class="block mb-1 font-bold" for="statusName">Status Name:</label>
        <select class="w-full border border-gray-400 py-2 px-3 rounded" id="statusName" name="status" required>
          <option value="Processing">Processing</option>
          <option value="Accepted">Accepted</option>
        </select>
      </div>
      <div>
        <label class="block mb-1 font-bold" for="statusDescription">Status Description:</label>
        <textarea class="w-full border border-gray-400 py-2 px-3 rounded" id="statusDescription" name="description"></textarea>
      </div>
      <div class="flex justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Update Status</button>
      </div>
    </form>
  </div>
</PageLayout>

