---
import Lottie from '~/components/Lottie';
import Logo from '~/assets/lotties/Logo.lottie';
---
<Lottie 
    src={Logo}
    client:visible
    style={'width:60px;'}
    loop
/>
<span class="self-center ml-2 text-2xl md:text-xl font-bold whitespace-nowrap">
TrackDoc</span>
